/* General */
*{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: #474747;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Design */
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo{
    height: 100%;
    display: table;
    float: left;
}

.logo a {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo a h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 200;
}

.logo a h1 span{
    font-weight: 800;
}


.right-menu{
    float: right;
    height: 100%;
    display: inline;
}

.right-menu a{
    color: white;
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.right-menu a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%; 
}

.right-menu a:last-child{
    padding-right: 0;
}

.upload-item{
    padding: 1%;
    font-size: 20px;
}

.menu-item{
    padding: 1%;
    font-size: 20px;
}
#cart{
    font-size: 30px;
}

/* General login & register */
.box{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 30px;
}

.box p{
    font-weight: 600;
    color: #002fff;
    display: table;
    margin: 470px 110px;

}

.input-field{
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    padding: 8px 0;
    margin: 3px;
    outline: none;
    background: transparent;
}

/* Login specific */
.login-input{
    top: 100px;
    position: absolute;
    width: 280px;
    left: 50px;
}

.submit-login{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 28px;
    background: linear-gradient(to right, #14e4ff, #002fff);

}

.checkbox{
    margin: 25px 10px 35px 0;
}

.login-input span{
    color: #777;
    font-size: 13px;
}

/* Register specific */
.register-input{
    top: 50px;
    position: absolute;
    width: 280px;
    left: 50px;
    
}

.submit-register{
    margin: 25px 10px 35px 20px;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    border: 0;
    outline: none;
    border-radius: 28px;
    background: linear-gradient(to right, #14e4ff, #002fff);

}

.upload-input{
    top: 100px;
    position: absolute;
    width: 280px;
    left: 50px;
}
.upload-input button{
    margin-top: 25px;
    transition-duration: 1s;
}

/* product */

.products {
    display: block;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-div{
    display: inline;
}

.dropdown{
    position: absolute;
    margin-top: 70px;
    margin-left: 11px;
    list-style: none;
    background-color: #999;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    opacity: 0;
    box-shadow: rgb(43, 42, 42) 2px 2px 2px 2px;
    transition: all 0.3s ease;
    pointer-events: none;
}
.dropdown ul{
    text-decoration: none;
    text-align: center;
}
.dropdown a{
    padding: 5px;
    transition-duration: 0.2s;

}

.dropdown a:hover{
    text-shadow: 2px 2px rgb(43, 43, 43);
}

.dropdown li{
    padding: 10px;
    margin-bottom: 15px;
}

a:focus + ul{
    opacity: 1;
    pointer-events: auto;
}
a:focus{
    pointer-events: auto;
}

.menu-item-dropdown{
    padding: 1%;
    font-size: 20px;
}

.reviewList{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}


.reviewName{
    color: white;
    background-color: #999;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.reviewName:hover{
    box-shadow:5px 5px rgb(43, 43, 43);
}